table {
   border-collapse: collapse;
   width: 100%;
   align-items: center;
   text-align: center;
}

td {
   padding-top: 1%;
   border: 1px solid #ddd;
   padding: 8px;
}

.property_image {
   width: 100px;
}

.property_address {
   width: 50%;
}

.property_button {
   width: 100px;
}

.search-input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
   align-items: center;
   border: 1px solid black;
}
